/* Importa a fonte 'Figtree' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Estiliza a atribuição no rodapé */
.attribution {
    font-size: 1.65vh; /* Define o tamanho da fonte em unidades de viewport height (vh) */
    text-align: center; /* Alinha o texto ao centro */
    padding-bottom:1.7vh; /* Adiciona um espaço na parte inferior */
}

/* Estiliza os links na atribuição */
.attribution a {
    color: hsl(228, 45%, 44%); /* Define a cor do link */
}

/* Define estilos globais */
* {
    font-family: "Figtree", sans-serif; /* Define a fonte padrão para todo o documento */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove as margens padrão */
    vertical-align: baseline; /* Alinha verticalmente os elementos à linha de base */
    border: 0; /* Remove as bordas padrão */
    letter-spacing: 0.13vh; /* Adiciona espaçamento entre letras */
}

/* Estiliza a imagem dentro de .img-blog */
.principal .caixa-publicacao .img-blog {
    border-radius: 30px; /* Define o raio da borda para criar cantos arredondados */
}

/* Define o plano de fundo para o corpo do documento */
body {
    background-color: rgb(245, 208, 78); /* Define a cor de fundo */
}

/* Estiliza o contêiner principal */
.principal {
    display: flex; /* Permite que o contêiner principal seja exibido como um flex container */
    justify-content: center; /* Alinha os itens ao centro no eixo principal (horizontal) */
    align-items: center; /* Alinha os itens ao centro no eixo secundário (vertical) */
    height: 100vh; /* Define a altura do contêiner principal para preencher toda a altura da viewport */
}

/* Estiliza a caixa de publicação */
.principal .caixa-publicacao {
    background-color: rgb(255, 255, 255); /* Define a cor de fundo da caixa de publicação */
    display: flex; /* Permite que a caixa de publicação seja exibida como um flex container */
    flex-direction: column; /* Define a direção dos itens como uma coluna */
    align-items: center; /* Alinha os itens ao centro no eixo secundário (vertical) */
    border: 0.12vw solid #111111; /* Define uma borda sólida */
    box-shadow: 1.15vw 1.15vw 0px #000000; /* Adiciona uma sombra */
    border-radius: 20px; /* Define o raio da borda para criar cantos arredondados */
    width: 25vw; /* Define a largura da caixa de publicação */
    transition: 0.35s; /* Adiciona uma transição suave */
}

/* Estiliza a caixa de publicação ao passar o mouse */
.principal .caixa-publicacao:hover {
    box-shadow: 1.7vw 1.7vw #000000; /* Altera a sombra ao passar o mouse */
    transition: 0.35s; /* Adiciona uma transição suave */
}

/* Estiliza a imagem dentro de .img-blog */
.principal .caixa-publicacao .img-blog {
    padding-top: 3vh; /* Adiciona espaço acima da imagem */
}

/* Estiliza a imagem dentro de .img-blog */
.principal .caixa-publicacao .img-blog img {
    border-radius: 10px; /* Define o raio da borda para criar cantos arredondados */
    width: 20vw; /* Define a largura da imagem */
}

/* Estiliza a categoria da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia {
    /*Botao pra categoria materia*/
    background-color: rgb(246, 205, 89); /* Define a cor de fundo */
    width: 9vw; /* Define a largura */
    text-align: center; /* Alinha o texto ao centro */
    padding-top: 1vh; /* Adiciona espaço acima do conteúdo */
    padding-bottom: 1vh; /* Adiciona espaço abaixo do conteúdo */
    margin-bottom: 2vh; /* Adiciona espaço abaixo do elemento */
    border-radius: 10px; /* Define o raio da borda para criar cantos arredondados */
    margin-left: 1.7vw; /* Define a margem à esquerda */
    word-wrap: break-word; /* Quebra a palavra quando necessário */
}

/* Estiliza os links dentro da categoria da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia p strong a {
    text-decoration: none; /* Remove a decoração do link */
}

/* Define a cor dos links visitados dentro da categoria da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia p strong a:visited {
    color: #000000; /* Define a cor do link visitado */
}

/* Estiliza a categoria da matéria ao passar o mouse */
.principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia:hover {
    cursor: pointer; /* Altera o cursor para o estilo de mão ao passar o mouse */
}

/* Estiliza o texto dentro da categoria da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia p {
    font-size: 2vh; /* Define o tamanho da fonte */
}

/* Estiliza a data da publicação da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .data-publicacao-materia {
    margin-top: 1vh; /* Adiciona espaço acima do elemento */
    margin-bottom: 1vh; /* Adiciona espaço abaixo do elemento */
    margin-left: 1.7vw; /* Define a margem à esquerda */
}

/* Estiliza o texto dentro da data da publicação da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .data-publicacao-materia p {
    font-size: 1.9vh; /* Define o tamanho da fonte */
}

/* Estiliza o título da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .titulo-materia {
    margin-top: 2.5vh; /* Adiciona espaço acima do elemento */
    margin-bottom: 2.5vh; /* Adiciona espaço abaixo do elemento */
    margin-left: 1.7vw; /* Define a margem à esquerda */
    transition: 0.3s; /* Adiciona uma transição suave */
}

/* Estiliza o título da matéria ao passar o mouse */
.principal .caixa-publicacao .conteudo-resumo-materia .titulo-materia h1 {
    font-size: 4vh; /* Define o tamanho da fonte */
    font-weight: 800; /* Define o peso da fonte como negrito */
}

/* Estiliza o título da matéria ao passar o mouse */
.principal .caixa-publicacao .conteudo-resumo-materia .titulo-materia:hover{
    color: rgb(246, 210, 72); /* Define a cor do texto ao passar o mouse */
    cursor: pointer; /* Altera o cursor para o estilo de mão ao passar o mouse */
    transition: 0.3s; /* Adiciona uma transição suave */
}

/* Estiliza o conteúdo da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia {
    padding-top: 3vh; /* Adiciona espaço acima do elemento */
    padding-left: 2vh; /* Adiciona espaço à esquerda do elemento */
    padding-right: 2vh; /* Adiciona espaço à direita do elemento */
    padding-bottom: 3vh; /* Adiciona espaço abaixo do elemento */
}

/* Estiliza o resumo da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .resumo-materia {
    margin-bottom: 2vh; /* Adiciona espaço abaixo do elemento */
    margin-left: 1.7vw; /* Define a margem à esquerda */
}

/* Estiliza o texto dentro do resumo da matéria */
.principal .caixa-publicacao .conteudo-resumo-materia .resumo-materia p {
    font-size: 1.9vh; /* Define o tamanho da fonte */
    color: rgb(131, 131, 131); /* Define a cor do texto */
}

/* Estiliza as informações do autor */
.principal .caixa-publicacao .conteudo-resumo-materia .info-autor {
    display: flex; /* Permite que o contêiner seja exibido como um flex container */
    flex-direction: row; /* Define a direção dos itens como uma linha */
    align-items: center; /* Alinha os itens ao centro no eixo secundário (vertical) */
    margin-left: 1.7vw; /* Define a margem à esquerda */
}

/* Estiliza o nome do autor */
.principal .caixa-publicacao .conteudo-resumo-materia .info-autor .nome-autor {
    padding-left: 0.6vw; /* Adiciona espaço à esquerda do elemento */
    font-size: 2.2vh; /* Define o tamanho da fonte */
}

/* Estilos para telas menores que 430px */
@media only screen and (max-width: 430px) {
    .principal .caixa-publicacao {
        width: 95vw; /* Define a largura para 95% da largura da viewport */
    }

    .principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia {
        width: 20vw; /* Define a largura para 20% da largura da viewport */
    }

    .principal .caixa-publicacao .img-blog img {
        width: 60vw; /* Define a largura para 60% da largura da viewport */
    }

    .principal .caixa-publicacao .conteudo-resumo-materia .info-autor .nome-autor {
        padding-left: 1vw; /* Adiciona espaço à esquerda do elemento */
    }
}

/* Estilos para telas entre 431px e 600px */
@media only screen and (min-width: 431px) and (max-width: 600px) {
    .principal .caixa-publicacao {
        width: 80vw; /* Define a largura para 80% da largura da viewport */
    }
}

/* Estilos para telas com proporção de aspecto máxima de 9:16 */
@media only screen and (max-aspect-ratio: 9/16) {
    .principal .caixa-publicacao {
        width: 70vw; /* Define a largura para 70% da largura da viewport */
    }

    .principal .caixa-publicacao .conteudo-resumo-materia .categoria-materia {
        width: 25vw; /* Define a largura para 25% da largura da viewport */
    }
}
